/*Général*/


body{
    margin: 0;
    
    
    }
h1,#text_description,#title_description,#explore{
    text-align: center;
}
.title{
    margin-left: 20px;
    margin-top: 60px;
    margin-bottom: 30px;
 }

/* Section " desciption" */


#description{
    background-color:rgba(192, 187, 187, 0.164);
    
}
#title_description{
    margin: 0;
    margin-top: 50px;
}


#explore{
    border-radius: 30px 30px;
    border: none;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.342);
    background: linear-gradient(#FF79DA ,#9356DC );
    width: 270px;
    height: 60px;
    padding: 3px 3px;
    margin-top: 20px;
    margin-bottom: 80px;
}
#explore p{
    margin: 0;
    margin-top: 18px;
}
 #explore:hover{
    box-shadow: 2px 1px 20px rgba(0, 0, 0, 0.555);
    background: linear-gradient(#FF79DA ,#a365ee );
}


/* Section "Fonctionnement"*/



.background_step{
    height: 80px;
    width: 80%;
    padding-left: 7%;
    background-color: rgb(241, 241, 241);
    box-shadow: 2px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius:25px 25px;
   
   }
.background_step i{
    
    width:auto;
    margin-right: 30px;
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.5);
    transition: color linear 200ms;
}
.background_step:hover{
  background-color: #9256dc25;

}
.background_step:hover i{
    
    color: #9356DC;
}

header{
    padding: 10px;
}
/* Flex box*/
#description,#gps,#localisation,.align,.step,.number,.background_step
,figcaption,.name_and_place,footer,.footer,.foot,.spinner{

    display: flex;
}
section,.align,.name_and_place,footer,.foot{
    flex-direction: column;
}
#gps,.step,.background_step,figcaption,.footer{
    flex-direction: row;
}
.background_step{
    align-items: center;
}
section,#description,#localisation,#gps,.number,.spinner{
    justify-content: center;
    align-items: center;
}
/*GPS*/

#gps{
    background-color: rgba(209, 209, 209, 0.5);
    height: 50px;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.158) ;
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.699);
    justify-content:center;
    font-size: 23px;
    padding: 10px;
  }
  #gps i{
    margin-right: 30px;
    
}
/*Fonctionnement*/

#fonction{
    background-color: white;
    padding-bottom: 50px;
}
.number{
    background-color: #9356DC;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
    left: 15px;
    top: 25px;
    
}
.step{
    width: 100%;
    margin-top: 40px;
   
}

  

   /*choix des restaurants*/


   #restaurants{
       background-color:rgba(192, 187, 187, 0.164);
       padding-bottom: 70px;
       padding-top: 20px;
   }
   #choice{
    background-color:rgba(192, 187, 187, 0.247);
    padding-top: 30px;
    padding-bottom: 60px;
    width: 100%;
    margin-top: 130px;
   }
   #choice h2{
       margin-left: 50px;
   }
  figure{
      position: relative;
       width: auto;
       height: auto;
       margin: 0 20px;
       margin-top: 15px;
       background-color: white;
       border: solid rgba(192, 187, 187, 0.247);
       border-radius: 20px;
       overflow: hidden;
   }
   figure img{
       width: 100%;
        }
   figcaption{
       background-color: white;
       height: auto;
       width: auto;
       padding: 10px;
       justify-content: space-between;
       
   }
  
   .new{
       position: absolute;
       width: 100px;
       height: 25px;
       z-index: 1;
       background-color: #bdf3e5;
       color:rgb(0,128,107);
       border-radius: 4px;
       font-size: 17px;
       font-family: 'Roboto',sans-serif;
       text-align: center;
       left: 72%;
       right: 0;
       top: 5%;
       bottom: 0;
       padding-top: 5px;
   }
   .name_and_place{
       margin-left: 10px;
       
 }
 .place{
     position: relative;
     bottom: 15px;
 }
   .btn{
      border: none;
      background-color: white;
      width: auto;
      height:50px;
      margin-right: 10px;
      font-size: 30px;
      cursor: pointer;
      outline: none;
      
      }
 
   .btn i {
      
       color: rgb(196, 196, 196);
      
     
   } 
.btn:hover i{
    transition:  color linear 1s ;
    color: #9356DC;
    
}  


/*Footer*/

   footer{
    background-color: rgb(51 48 48);
       color: rgb(236, 236, 236);
       padding-left: 30px;
       padding-bottom: 30px; 
       font-family: 'Roboto', sans-serif;
   }
  
   .footer{
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
   }
  
   .footer i{
       width: 15px;
       margin-right: 10px;
       font-size: 15px;
   }
   
   a{
    text-decoration: none;
    color: white;
    margin-top: 10px;
}

/*Images*/
img{
    width: 80%;
    height: auto;
}

/*Polices*/

h1{
    font-family: 'Shrikhand', cursive;
    font-size: 40px;
    margin: 0;
    padding: 5px;
}
#localisation{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
.background_step{
    font-family: 'Roboto', sans-serif;
   
}
.background_step i{
    font-size: 25px;
    
}

#title_description,.title{
    font-family: 'Roboto', sans-serif;
    font-size:35px;
}
#text_description{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.507);
}
#explore{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;
    }
    .number{
        font-family: 'Roboto', sans-serif;
        color: white;
        font-size: 17px;
    }
.name{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size:15px ;
}
    .place{
        font-family: 'Roboto', sans-serif;
        font-weight: 350;
        font-size: 20px;
    }
  h3{
    font-family: 'Shrikhand', cursive;
    font-size: 20px;
    
   
 }
 /*spinner*/
 .blur{
     display: block;
     width: 100%;
     height: 100%;
    animation: blur 3s normal forwards;
 }
 .spinner{
     display: block;
     position: fixed;
     margin: auto;
     bottom: 0;
     left: 0;
     right: 0;
     top: 0;
     width: 100px;
     height: 100px;
     visibility: visible;
     
}

.spin{
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100px;
    height: 100px;
    color: #99E2D0 ;
    font-size: 100px;
    animation: spinner 3s ease  normal forwards;
    
     
}



/*animations*/

@keyframes spinner{
    0%{  color: #99E2D0 ;
        transform: origin 0;
        transform: rotate(360deg);
        opacity: 1;
        font-size:100px ;
 }
    
    95%{
        
        opacity: 1;
    }
    100%{
       
         color:#9356DC;
        opacity: 0;
        display: none;
        
        
    }
}

@keyframes blur{
    0%{
        filter: blur(40px);
    }
    90%{
        filter: blur(40px);
    }
    100%{ 
        filter:blur(0px);
    }
}
/*media querries*/

@media screen and (max-width:600px){

    .title{
        font-size: 30px;
    }
 .step p{
     font-size: 4.5vw;
     
 }
 
.name{
    font-size: 4.5vw;

}      
.place{
    font-size:4vw;
}

}

    
 @media screen and (max-width:440px){

    .new{
        left: 65%;
    }
    #gps{
        font-size: 20px;
    }
    strong{
        font-size: 28px;
    }
    #title_description{
        margin: none;
    }
    #text_description{

        font-size: 16px;
    }
    #explore{
        font-size: 17px;
        width: 220px;
        height: 50px;
        
    }
    #explore p{
        margin-top: 15px;
    }
 }
 @media screen and (max-width:370px){
     .new{
         left: 55%;
     }
     .btn{
         font-size: 25px;
         height: 30px;
     }
 }
 @media screen and (min-width:600px){
    

    .background_step{
         width: 400px;
     }
     .step{
         justify-content: center;
     }
        #choice{
            display: flex;
        flex-direction: column;
         justify-content: center;
         align-items: center;
         
     }
     #restaurants{

        display: flex;
        justify-content: center;
        align-items: center;
        
     }
     figure{
         width: 50%;
     }
    
    }