/*Général*/
body{
    margin: auto;
}
.wrap{
    width: 100%;
    margin: 0;
}

img{
    width: 100%;
    }
section{
    display: block;
    position: relative;
    background-color:rgb(233, 232, 232);
    bottom: 80px;
    border: solid rgba(0, 0, 0, 0);
    border-radius: 50px 50px 0 0;
    }
.name{
    padding: 0 15px;
}




/*flex box*/

article,.name,.choice_btn,.meal_and_plus,.plus,.order,.valid,footer,.footer,.foot{
    display: flex;
}
.name,.choice_btn,.plus,.order,.footer{
    flex-direction: row;

}
article,.meal_and_plus,.valid,footer,.foot{
    flex-direction: column;
}
.name{
    justify-content: space-around;
}
.choice_btn{
    justify-content: space-between;
}
.meal,.plus{
    justify-content:flex-start;
}
.meal_and_plus{
    align-items: baseline;
}
.order,.valid{
    justify-content: center;
    align-items: center;
}
/*polices*/
h1{
    text-align: center;
    margin: auto;
}
h1,h2{
    font-family: 'Shrikhand', cursive;
    font-size: 40px;
}
h3{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 500;
    margin-left: 20px;
}
span{
    border-bottom: solid 2px #99E2D0 ;
   
}
.meal{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 25px;
}
.plus{
    font-family: 'Roboto', sans-serif;
    font-size:20px ;
    font-weight: 500;
}

.price{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
   
}
.btn_order{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 23px;
}
footer h3{
    font-family: 'Shrikhand', cursive;
    font-size: 20px;
    }

/* buttons*/ 
button{
    background-color: white;
    outline: none;
    overflow: hidden;
    border: none;
     }

.btn{
    border:none;
    background-color:rgb(233,232,232) ;
    width:auto;
    height:auto;
    cursor:pointer;
    font-size: 35px;
    
    }
 .choice_btn{
    height:90px;
    width:auto;
    background-color: rgb(241, 241, 241);
    margin: 5px ;
    box-shadow: 2px 1px 20px rgba(0, 0, 0, 0.199);
    border-radius: 25px;
    padding: 0;
    cursor: pointer;
    outline: none;
    visibility: hidden;
    
    }


 .choice_btn:hover{
     background-color: white;
     box-shadow: 2px 1px 20px rgba(0, 0, 0, 0.555);
 }
 .meal_and_plus{
    width:100%;
    height: auto;
    margin: 5px 5px;
    overflow: hidden;
    white-space: nowrap; 
     overflow: hidden;
    
    
  
 }



.meal{
    width: auto;
    margin: 3px;
    
}
 .plus{
     width: auto; 
     white-space: nowrap; 
     overflow: hidden;
     text-overflow: ellipsis;
    margin: 3px;
}
.price{
    display: block;
    position: relative;
    top: 43px;
    margin-right: 5px;
    
    
}
 .valid {
     position: relative;
     left:50px ;
    width:0px;
    height: 100%;
    font-size: 30px;
    background-color:#99E2D0 ;
    padding: none;
    color: white;
    
 }

 .choice_btn:focus .valid{
    animation: valid 1s ease  forwards;
 }
 .btn_order{
    border: none;
    border-radius: 35px 35px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.342);
    background: linear-gradient(#FF79DA ,#9356DC );
    color: white;
    width: 300px;
    height:70px;
    padding: 3px 3px;
    margin-top: 50px;
    outline: none;
    box-shadow: 2px 1px 20px rgba(0, 0, 0, 0.199);
    }
.btn_order:hover{
    box-shadow: 2px 1px 20px rgba(0, 0, 0, 0.555);
    background: linear-gradient(#FF79DA ,#a365ee );
}
.fa-heart {
    color: rgb(214, 214, 214);
    transition:  color linear 1s ;
}  
.fa-heart:hover{
    color:#FF79DA ;
}
.choice_btn:focus .fa-check-circle{
    animation: rotation 2s ease 0.3s  forwards;
}
 /*footer*/
 
 footer{
    background-color: rgb(48, 48, 48);
    color: rgb(236, 236, 236);
    padding-left: 30px;
    padding-bottom: 30px; 
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.footer{
 height: 35px;
 justify-content: flex-start;
 align-items: center;
}
.footer i{
    width: 15px;
    margin-right: 20px;
}

a{
 text-decoration: none;
 color: white;
}
/*animation*/

.vision1{
    animation-name: vision;
    animation-duration: 1s;
    animation-delay: 300ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    position: relative;
 }
 .vision2{
     animation-name:vision;
     animation-duration: 1s;
     animation-delay: 500ms;
     animation-timing-function: ease;
     animation-fill-mode: forwards;
     position: relative;
 }
 .vision3{
     animation-name: vision;
     animation-duration: 1s;
     animation-delay: 700ms ;
     animation-timing-function:ease;
     animation-fill-mode: forwards;
     position: relative;
 }
@keyframes vision {
    0%{
        opacity: 0;
        bottom: 0px;
        
    }
    
    100%{
        opacity: 1;
        bottom:2px ;
        visibility: visible;
        
    }
}

 @keyframes valid{
 0%{
     width: 0%;
     left: 100px;
     
}
100%{
    width: 30%;
    left: 0;
    margin-left: 10px;
}
}
@keyframes rotation{

    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(360deg);

    }
    50%{
        
        transform: scale(1.5);
    }
    
}

@media screen and (max-width:620px){
    p{
        font-size: 3vw;
    }
    .meal_and_plus p{
        font-size:3.5vw ;
    }
    .price{
        font-size: 3.5vw;
    }
.choice_btn{
    height: 70px;
}
h2{
    font-size: 8vw;
}
footer i{
    font-size: 5vw;
}
}

@media screen and (min-width:620px){

    h1{
      font-size: 100px;
    }
    
    .choice_btn{
        width: 500px;
    }
    article {
        justify-content: center;
        align-items: center;
        margin:none;
    }
  #small_choice{
      display: block;
      position: relative;
     top:100px;
    }

    .name{
        justify-content:flex-start;
        align-items: center;
        margin-left: 30px;
        
    }
    .name h2,i{
        margin-right: 50px;
        font-size: 50px;
    }
    footer i{
        font-size: 20px;
    }
}